<?xml version="1.0" encoding="utf-8"?>
<configuration>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="DBConnection" connectionString="Server=10.0.1.125; Pooling=true;Min Pool Size=1;Max Pool Size=20;Connection Lifetime=220; User ID=afssqluser01;password=Af$01TlQsGY;database=JetPayAMP_JustForOptimization" /> 
    <!--<add name="DBConnection" connectionString="Server=35.154.111.34; Pooling=true;Min Pool Size=1;Max Pool Size=20;Connection Lifetime=220; User ID= afs_devdb;password=A$FOxP%87g3Q9P;database=AMP_Jetpay_dev"/>-->
    <!--<add name="DBConnection" connectionString="Data Source=10.0.1.124;Initial Catalog=Amp_jetpay;Persist Security Info=True;User ID=sa;Password=Atf$0!Tx0G" />-->
  </connectionStrings>
  <appSettings>
    <add key="ApplicationId" value="50" />
    <add key="ProcessorId" value="2" />
    <add key="ClientId" value="23" />
    <add key="InputFolderPath" value="C:\JetPayFileServiceFolder\FilesTempFolder\FileFolder" />
    <add key="SuccessFolderPath" value="C:\JetPayFileServiceFolder\FilesTempFolder\Success\" />
    <add key="ErrorFolderPath" value="C:\JetPayFileServiceFolder\FilesTempFolder\Error\" />
    <add key="FileMoveFolder" value="C:\JetPayFileServiceFolder\FilesTempFolder\FileMoveFolder" />
    <add key="ProcessorAuthName" value="realtime" />
    <add key="Chargeback" value="chargeback" />
    <add key="Settle" value="settled" />
    <add key="FundingDep" value="funding-dep" />
    <add key="ACH" value="ach-history" />
    <add key="Qualification" value="qual" />
    <add key="DepositFee" value="Fee" />
    <add key="RiskTransactions" value="Risk"/>
    <add key="AdjReserves" value="misc-adj-reserves"/>
    <add key="Merchant" value="merchant"/>
    <add key="FundingFull" value="full_funding"/>
    <add key="FundingCategory" value="funding-category"/>
    <add key="FundingDetail" value="funding-detail"/>
    <add key="SettlementDetail" value="settled-history"/>
    <add key="Reserves" value="current-reserves"/>
    
    
    <add key="Pass_Phrase" value="fdd2c3D_@13prfdd" />
    <add key="Salt_Value" value="_98*Vafdd" />
    <add key="Init_Vector" value="fdd2c3D0e5F3gfdd" />
    <add key="SelColName" value="*" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ParserFailureEmailTemplate" value="\EmailTemplates\EmailTemp-ParserFailure.html"/>
    <add key="ParserFailureEmailId" value="ajith.m@artefactsys.com"/>
    <add key="ParserFailureEmailIdBCC" value=""/>
    <add key="RootFolderPath" value="D:\Jetpay\Jetpay Utility\JetPayFileParser\JetPayFileParser\"/>
    <add key="BulkCopyTimeout" value="1200"/>
    
    <add key="MAIL_FROM_USERNAME" value="no-reply@artefactsys.com"/>
    <add key="MAIL_FROM_PASSWORD" value="Qirt4i7AP2u2"/>
    
    <!--20 min-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>